.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-element {
    list-style: none;
}

.list-item {
    border: 1px solid;
    width: 75%;
    margin: 10px auto;
}

.list-item-image {
    width: 200px;
    padding-right:10px;
    display:inline-block;
    margin-bottom: -20px;
}

.list-item-span {
    display:inline-block;
}

.singlecar-list-element {
    list-style: none;
    display:inline;
    margin: 5px 1px;
    padding: 0;
    
}

.car-img-list {
    padding-left: 0;
    padding-bottom: 10px;
}

.singlecar-image {
    width: 100px;
}

.filter-banner {
    color: #666;
    width: 60%;
    margin: auto;
}

.filter-button-list {
    display: inline-block;
    list-style:none;
}

.filter-button-list li {
    display: inline-block;
    margin: 10px 20px;
}

.filter-button-list li button {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.color-list button {
    color: #fff;
}

.redButton {
    background-color: red;
}

.yellowButton {
    background-color: #ffd200;
}

.blueButton {
    background-color: blue;
}

.greenButton {
    background-color: green;
}

.silverButton {
    background-color: silver;
}

.orangeButton {
    background-color: orange;
}

.nullButton {
    background-color: black;
}

.serviceType-list button {
    
}

.carCount-list button {
    background-color: turquoise;
}

.all-trains {
    text-align: center;
}
.all-trains button {
    width:500px;
    height: 50px;
    margin: 10px auto;
    background-color: #003366;
    border: none;
    font-weight:bold;
    color: #fff;
    font-size: 20px;
}

.item-details {
    background: #BBB;
    color: #FFF;
}

.item-details span h4 {
    display: inline-block;
    margin: 10px 15px;
}

.item-details span {
    display: block;
}

.noResults {
    text-align: center;
}

.serviceType-holder {
    display: inline;
    padding: 10px 20px;
    background-color: #fff;
    border: 5px solid #000082;
    color: #000082;
    
}
